{% extends 'todo/main.html' %}

{% block content %}

<div class="header-bar">
    <h1>Login to existing account</h1>
</div>
<div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Login Now">
    </form>
    <small>        
        <p style="font-weight: bold;" class="header-bar">Don't have an account yet?<a style="color: rgb(89, 0, 255);" href="{% url 'register' %}">Register</a></p>
    </small>
</div>
{% endblock content %}t